<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/main.js" defer></script>
    <title><%= superhero.name%></title>
  </head>
  <body>
    <a href="/">Back to Home Page</a>
    <h1><%= superhero.name %>'s Show Page</h1>
    <% if (superhero.canTheyFly) { %>
        <p>This Superhero Can Fly!</p>
<%  } else { %>
    <p> This Superhero Cannot Fly</p>
  <% } %>
    <form action="/superheroes/<%=superhero._id %>?_method=DELETE" method="POST">
        <button type="submit"> Delete <%= superhero.name %></button>
    </form>
    <a href="/superheroes/<%= superhero._id%>/edit">Edit <%=superhero.name%></a> <br />
    <a href="/superheroes">Back to Superheroes</a>
  </body>
</html>
